/* IMPOSTAZIONI GENERALI */

html,
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    line-height: 1.65;
    text-align: center;
    padding: 0;
    margin: 0;
   
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: 'Montserrat';
    font-weight: bold;
    color: cyan;
    font-size: 1.2rem;
    font: bold;
    line-height: 1.5;
}

button {
    border: 1px color(srgb red green blue);
    color: white;
    background: #f04c2f;
}



/* HEADER */

header {
    
    background: black;
   
}

/* MAIN */

main {
    background-image: url(../images/banner.jpg);
    background-size: cover;
    
}


/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */